services:
  scavenger_service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: scavenger_service
    restart: always
    env_file:
      - .env
      - ../.env
    depends_on:
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
    environment:
      API_PORT: ${API_PORT}
    ports:
      - ${API_PORT}:${API_PORT}
    volumes:
      - .:/home/appuser/app
      - ../utils:/home/appuser/app/utils
