ENV = <Environment the app is running in (production|testing)>

KAFKA_BOOTSTRAP_SERVERS = <kafka server:port>
KAFKA_SECURITY_PROTOCOL = <kafka security protocol's name>
KAFKA_CLUSTER_ID = <kafka cluster id>

REDIS_USER_POSTMAN = <postman user(service) according to ACL config>
REDIS_USER_GUARD = <guard user(service) according to ACL config>
REDIS_USER_ENVOY = <envoy user(service) according to ACL config>
REDIS_PASSWORD_POSTMAN = <postman user's password according to ACL config>
REDIS_PASSWORD_GUARD = <guard user's password according to ACL config>
REDIS_PASSWORD_ENVOY = <envoy user's password according to ACL config>