ENV=testing

KAFKA_BOOTSTRAP_SERVERS=kafka-1:9093,kafka-2:9093,kafka-3:9093
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

KAFKA_FORECAST_REQUEST_TOPIC=forecast_requests
KAFKA_FORECAST_RESPONSE_TOPIC=forecast_responses
KAFKA_FORECAST_PUBLISH_TOPIC=forecast_publish
KAFKA_ADMIN_SECRET_TOPIC=admin_secret

POSTMAN_DATABASE_USER=postman_admin
POSTMAN_DATABASE_PASSWORD=postman_password
POSTMAN_DATABASE_NAME=postman_db
POSTMAN_DATABASE_HOST=postman_db
POSTMAN_DATABASE_PORT=5432
POSTMAN_DATABASE_URL=postgresql+asyncpg://postman_admin:postman_password@postman_db:5432/postman_db

GUARD_DATABASE_USER=guard_admin
GUARD_DATABASE_PASSWORD=guard_password
GUARD_DATABASE_NAME=guard_db
GUARD_DATABASE_HOST=guard_db
GUARD_DATABASE_PORT=5432
GUARD_DATABASE_URL=postgresql+asyncpg://guard_admin:guard_password@guard_db:5432/guard_db

REDIS_USER_POSTMAN=postman_service
REDIS_USER_GUARD=guard_service
REDIS_USER_ENVOY=envoy_service
REDIS_PASSWORD_POSTMAN=postman_redis_password
REDIS_PASSWORD_GUARD=guard_redis_password
REDIS_PASSWORD_ENVOY=envoy_redis_password

JWT_SECRET_KEY=change_me_jwt_secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=30

ENVOY_BOT_ENABLED=false
BOT_TOKEN=change_me_telegram_bot_token
AUTH_BASE_URL=http://guard_service:8000/guard
FORECAST_BASE_URL=http://postman_service:8000/postman
SCAVENGER_BASE_URL=http://scavenger_service:8000
SCAVENGER_TIMEOUT_SECS=10

MLFLOW_TRACKING_URI=http://mlflow:5000
ML_FORECAST_ENABLED=true
MLFLOW_WEEK_MODEL_URI=models:/stock_return_forecaster_week@prd
MLFLOW_MONTH_MODEL_URI=models:/stock_return_forecaster_month@prd
