services:
  magician_service:
    build:
      context: ..
      dockerfile: magician/Dockerfile
    container_name: magician_service
    restart: always
    env_file:
      - .env
      - ../.env
    depends_on:
      kafka-1:
        condition: service_healthy
      kafka-2:
        condition: service_healthy
      kafka-3:
        condition: service_healthy
      scavenger_service:
        condition: service_started
    ports:
      - 8002:8000
    networks:
      - public_network
      - internal_network
